

body{
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:15px 30px;
background:#111827;
}

.menu a{
color:white;
margin:0 10px;
text-decoration:none;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
background:linear-gradient(135deg,#ff5a3c,#ff9966);
}

.hero.small{
height:50vh;
}

.main-name{
font-size:50px;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
width:250px;
}

.btn{
background:#ff5a3c;
padding:10px 20px;
color:white;
text-decoration:none;
display:inline-block;
margin-top:10px;
}

.cta{
background:#ff5a3c;
text-align:center;
padding:40px;
}

.whatsapp{
position:fixed;
bottom:20px;
left:20px;
background:#25d366;
padding:15px;
border-radius:50%;
}

/* موبايل */
@media(max-width:768px){
.cards{flex-direction:column;}
}
